doctype html
html
    head
        block head 
            // Define the character set
            meta(charset='UTF-8')
            // Set viewport for responsive design
            meta(name='viewport' content='width=device-width, initial-scale=1.0')  
            // INSERT COMMENT HERE
            meta(http-equiv='Content-Security-Policy')
            // Set the title of the page dynamically
            title Natours | #{title}
            // Link to the main stylesheet
            link(rel='stylesheet' href='/css/style.css') 
            // Link to the favicon
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            // Link to Google Fonts for font styling
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            // Imported Parcel Bundle
            script(src='/javascript/bundle.js') 
    body 
        //- HEADER
        include _header

        //- CONTENT
        block content 
            h1 This is a Placeholder heading

        //- FOOTER
        include _footer

        
