doctype html
html
    head 
        //- INSERT COMMENT HERE
        meta(charset='UTF-8')
        //- INSERT COMMENT HERE
        meta(name='viewport' content='width=device-width, initial-scale=1.0')  
        //- INSERT COMMENT HERE
        title Natours | #{title}
        //- INSERT COMMENT HERE
        link(rel='stylesheet' href='css/style.css') 
        //- INSERT COMMENT HERE
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        //- INSERT COMMENT HERE
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700') 
    body 
        //- HEADER
        include _header

        //- CONTENT
        block content 
            h1 This is a Placeholder heading

        //- FOOTER
        include _footer




